.DS_Store
target/

# gradle
.gradle/
build/

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle
.idea
*.iml

# Old-style IDEA project files
*.ipr
*.iws